<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>1101</string>
		<key>id</key>
		<string>2</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>北京市</string>
		<key>parentid</key>
		<string>11</string>
	</dict>
	<dict>
		<key>code</key>
		<string>3101</string>
		<key>id</key>
		<string>10544</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>上海市</string>
		<key>parentid</key>
		<string>31</string>
	</dict>
	<dict>
		<key>code</key>
		<string>4401</string>
		<key>id</key>
		<string>28241</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>广州市</string>
		<key>parentid</key>
		<string>44</string>
	</dict>
	<dict>
		<key>code</key>
		<string>4403</string>
		<key>id</key>
		<string>28558</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>深圳市</string>
		<key>parentid</key>
		<string>44</string>
	</dict>
	<dict>
		<key>code</key>
		<string>4201</string>
		<key>id</key>
		<string>24023</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>武汉市</string>
		<key>parentid</key>
		<string>42</string>
	</dict>
	<dict>
		<key>code</key>
		<string>1201</string>
		<key>id</key>
		<string>339</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>天津市</string>
		<key>parentid</key>
		<string>12</string>
	</dict>
	<dict>
		<key>code</key>
		<string>6101</string>
		<key>id</key>
		<string>41878</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>西安市</string>
		<key>parentid</key>
		<string>61</string>
	</dict>
	<dict>
		<key>code</key>
		<string>3201</string>
		<key>id</key>
		<string>10809</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>南京市</string>
		<key>parentid</key>
		<string>32</string>
	</dict>
	<dict>
		<key>code</key>
		<string>3301</string>
		<key>id</key>
		<string>12597</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>杭州市</string>
		<key>parentid</key>
		<string>33</string>
	</dict>
	<dict>
		<key>code</key>
		<string>5001</string>
		<key>id</key>
		<string>31930</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>重庆市</string>
		<key>parentid</key>
		<string>50</string>
	</dict>
	<dict>
		<key>code</key>
		<string>5101</string>
		<key>id</key>
		<string>33008</string>
		<key>level</key>
		<string>2</string>
		<key>name</key>
		<string>成都市</string>
		<key>parentid</key>
		<string>51</string>
	</dict>
</array>
</plist>
