<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>android.emoji</string>
	<key>version</key>
	<real>2</real>
	<key>group_name_tw</key>
	<string>默認</string>
	<key>group_name_cn</key>
	<string>默认</string>
	<key>group_name_en</key>
	<string>Default</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[):]</string>
			<key>cht</key>
			<string>[):]</string>
			<key>png</key>
			<string>ee_1.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:D]</string>
			<key>cht</key>
			<string>[:D]</string>
			<key>png</key>
			<string>ee_2.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[;)]</string>
			<key>cht</key>
			<string>[;)]</string>
			<key>png</key>
			<string>ee_3.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:-o]</string>
			<key>cht</key>
			<string>[:-o]</string>
			<key>png</key>
			<string>ee_4.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:p]</string>
			<key>cht</key>
			<string>[:p]</string>
			<key>png</key>
			<string>ee_5.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(H)]</string>
			<key>cht</key>
			<string>[(H)]</string>
			<key>png</key>
			<string>ee_6.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:@]</string>
			<key>cht</key>
			<string>[:@]</string>
			<key>png</key>
			<string>ee_7.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:s]</string>
			<key>cht</key>
			<string>[:s]</string>
			<key>png</key>
			<string>ee_8.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:$]</string>
			<key>cht</key>
			<string>[:$]</string>
			<key>png</key>
			<string>ee_9.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:(]</string>
			<key>cht</key>
			<string>[:(]</string>
			<key>png</key>
			<string>ee_10.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:&apos;(]</string>
			<key>cht</key>
			<string>[:&apos;(]</string>
			<key>png</key>
			<string>ee_11.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:|]</string>
			<key>cht</key>
			<string>[:|]</string>
			<key>png</key>
			<string>ee_12.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(a)]</string>
			<key>cht</key>
			<string>[(a)]</string>
			<key>png</key>
			<string>ee_13.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[8o|]</string>
			<key>cht</key>
			<string>[8o|]</string>
			<key>png</key>
			<string>ee_14.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[8-|]</string>
			<key>cht</key>
			<string>[8-|]</string>
			<key>png</key>
			<string>ee_15.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[+o(]</string>
			<key>cht</key>
			<string>[+o(]</string>
			<key>png</key>
			<string>ee_16.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[&lt;o)]</string>
			<key>cht</key>
			<string>[&lt;o)]</string>
			<key>png</key>
			<string>ee_17.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[|-)]</string>
			<key>cht</key>
			<string>[|-)]</string>
			<key>png</key>
			<string>ee_18.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[*-)]</string>
			<key>cht</key>
			<string>[*-)]</string>
			<key>png</key>
			<string>ee_19.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:-#]</string>
			<key>cht</key>
			<string>[:-#]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_20.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[:-*]</string>
			<key>cht</key>
			<string>[:-*]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_21.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[^o)]</string>
			<key>cht</key>
			<string>[^o)]</string>
			<key>png</key>
			<string>ee_22.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[8-)]</string>
			<key>cht</key>
			<string>[8-)]</string>
			<key>png</key>
			<string>ee_23.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(|)]</string>
			<key>cht</key>
			<string>[(|)]</string>
			<key>png</key>
			<string>ee_24.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(u)]</string>
			<key>cht</key>
			<string>[(u)]</string>
			<key>png</key>
			<string>ee_25.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(S)]</string>
			<key>cht</key>
			<string>[(S)]</string>
			<key>png</key>
			<string>ee_26.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(*)]</string>
			<key>cht</key>
			<string>[(*)]</string>
			<key>png</key>
			<string>ee_27.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(#)]</string>
			<key>cht</key>
			<string>[(#)]</string>
			<key>png</key>
			<string>ee_28.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(R)]</string>
			<key>cht</key>
			<string>[(R)]</string>
			<key>png</key>
			<string>ee_29.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[({)]</string>
			<key>cht</key>
			<string>[({)]</string>
			<key>png</key>
			<string>ee_30.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(})]</string>
			<key>cht</key>
			<string>[(})]</string>
			<key>png</key>
			<string>ee_31.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(k)]</string>
			<key>cht</key>
			<string>[(k)]</string>
			<key>png</key>
			<string>ee_32.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(F)]</string>
			<key>cht</key>
			<string>[(F)]</string>
			<key>png</key>
			<string>ee_33.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(W)]</string>
			<key>cht</key>
			<string>[(W)]</string>
			<key>png</key>
			<string>ee_34.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[(D)]</string>
			<key>cht</key>
			<string>[(D)]</string>
			<key>png</key>
			<string>ee_35.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
