<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>北京</key>
		<array>
			<string>全城</string>
			<string>东城区</string>
			<string>西城区</string>
			<string>朝阳区</string>
			<string>丰台区</string>
			<string>石景山区</string>
			<string>海淀区</string>
			<string>门头沟区</string>
			<string>房山区</string>
			<string>通州区</string>
			<string>顺义区</string>
			<string>昌平区</string>
			<string>大兴区</string>
			<string>怀柔区</string>
			<string>平谷区</string>
			<string>密云县</string>
			<string>延庆县</string>
		</array>
	</dict>
	<key>C</key>
	<dict>
		<key>长春</key>
		<array>
			<string>全城</string>
			<string>南关区</string>
			<string>宽城区</string>
			<string>朝阳区</string>
			<string>二道区</string>
			<string>绿园区</string>
			<string>双阳区</string>
			<string>农安县</string>
			<string>九台市</string>
			<string>榆树市</string>
			<string>德惠市</string>
		</array>
		<key>长沙</key>
		<array>
			<string>全城</string>
			<string>芙蓉区</string>
			<string>天心区</string>
			<string>岳麓区</string>
			<string>开福区</string>
			<string>雨花区</string>
			<string>长沙县</string>
			<string>望城县</string>
			<string>宁乡县</string>
			<string>浏阳市</string>
		</array>
		<key>成都</key>
		<array>
			<string>全城</string>
			<string>锦江区</string>
			<string>青羊区</string>
			<string>金牛区</string>
			<string>武侯区</string>
			<string>成华区</string>
			<string>龙泉驿区</string>
			<string>青白江区</string>
			<string>新都区</string>
			<string>温江区</string>
			<string>金堂县</string>
			<string>双流县</string>
			<string>郫县</string>
			<string>大邑县</string>
			<string>蒲江县</string>
			<string>新津县</string>
			<string>都江堰市</string>
			<string>彭州市</string>
			<string>邛崃市</string>
			<string>崇州市</string>
		</array>
		<key>重庆</key>
		<array>
			<string>全城</string>
			<string>万州区</string>
			<string>涪陵区</string>
			<string>渝中区</string>
			<string>大渡口区</string>
			<string>江北区</string>
			<string>沙坪坝区</string>
			<string>九龙坡区</string>
			<string>南岸区</string>
			<string>北碚区</string>
			<string>万盛区</string>
			<string>双桥区</string>
			<string>渝北区</string>
			<string>巴南区</string>
			<string>黔江区</string>
			<string>长寿区</string>
			<string>江津区</string>
			<string>合川区</string>
			<string>永川区</string>
			<string>南川区</string>
			<string>綦江县</string>
			<string>潼南区</string>
			<string>铜梁县</string>
			<string>大足县</string>
			<string>荣昌县</string>
			<string>璧山县</string>
			<string>梁平县</string>
			<string>城口县</string>
			<string>丰都县</string>
			<string>垫江县</string>
			<string>武隆县</string>
			<string>忠县</string>
			<string>开县</string>
			<string>云阳县</string>
			<string>奉节县</string>
			<string>巫山县</string>
			<string>巫溪县</string>
			<string>石柱土家族自治县</string>
			<string>秀山土家族苗族自治县</string>
			<string>酉阳土家族苗族自治县</string>
			<string>彭水苗族土家族自治县</string>
		</array>
	</dict>
	<key>D</key>
	<dict>
		<key>大连</key>
		<array>
			<string>全城</string>
			<string>中山区</string>
			<string>西岗区</string>
			<string>沙河口区</string>
			<string>甘井子区</string>
			<string>旅顺口区</string>
			<string>金州区</string>
			<string>长海县</string>
			<string>瓦房店市</string>
			<string>普兰店市</string>
			<string>庄河市</string>
		</array>
	</dict>
	<key>F</key>
	<dict>
		<key>福州</key>
		<array>
			<string>全城</string>
			<string>鼓楼区</string>
			<string>台江区</string>
			<string>仓山区</string>
			<string>马尾区</string>
			<string>晋安区</string>
			<string>闽侯县</string>
			<string>连江县</string>
			<string>罗源县</string>
			<string>闽清县</string>
			<string>永泰县</string>
			<string>平潭县</string>
			<string>福清市</string>
			<string>长乐市</string>
		</array>
	</dict>
	<key>G</key>
	<dict>
		<key>广州</key>
		<array>
			<string>全城</string>
			<string>荔湾区</string>
			<string>越秀区</string>
			<string>海珠区</string>
			<string>天河区</string>
			<string>白云区</string>
			<string>黄埔区</string>
			<string>番禺区</string>
			<string>花都区</string>
			<string>南沙区</string>
			<string>萝岗区</string>
			<string>增城市</string>
			<string>从化市</string>
		</array>
		<key>贵阳</key>
		<array>
			<string>全城</string>
			<string>南明区</string>
			<string>云岩区</string>
			<string>花溪区</string>
			<string>乌当区</string>
			<string>白云区</string>
			<string>小河区</string>
			<string>开阳县</string>
			<string>息烽县</string>
			<string>修文县</string>
			<string>清镇市</string>
		</array>
	</dict>
	<key>H</key>
	<dict>
		<key>哈尔滨</key>
		<array>
			<string>全城</string>
			<string>道里区</string>
			<string>南岗区</string>
			<string>道外区</string>
			<string>平房区</string>
			<string>松北区</string>
			<string>香坊区</string>
			<string>呼兰区</string>
			<string>阿城区</string>
			<string>依兰县</string>
			<string>方正县</string>
			<string>宾县</string>
			<string>巴彦县</string>
			<string>木兰县</string>
			<string>通河县</string>
			<string>延寿县</string>
			<string>双城市</string>
			<string>尚志市</string>
			<string>五常市</string>
		</array>
		<key>海口</key>
		<array>
			<string>全城</string>
			<string>秀英区</string>
			<string>龙华区</string>
			<string>琼山区</string>
			<string>美兰区</string>
		</array>
		<key>杭州</key>
		<array>
			<string>全城</string>
			<string>上城区</string>
			<string>下城区</string>
			<string>江干区</string>
			<string>拱墅区</string>
			<string>西湖区</string>
			<string>滨江区</string>
			<string>萧山区</string>
			<string>余杭区</string>
			<string>桐庐县</string>
			<string>淳安县</string>
			<string>建德市</string>
			<string>富阳市</string>
			<string>临安市</string>
		</array>
		<key>合肥</key>
		<array>
			<string>全城</string>
			<string>瑶海区</string>
			<string>庐阳区</string>
			<string>蜀山区</string>
			<string>包河区</string>
			<string>长东县</string>
			<string>肥东县</string>
			<string>肥西县</string>
		</array>
		<key>呼和浩特</key>
		<array>
			<string>全城</string>
			<string>新城区</string>
			<string>回民区</string>
			<string>玉泉区</string>
			<string>赛罕区</string>
			<string>土默特左旗</string>
			<string>托克托县</string>
			<string>和林格尔县</string>
			<string>清水河县</string>
			<string>武川县</string>
		</array>
	</dict>
	<key>J</key>
	<dict>
		<key>济南</key>
		<array>
			<string>全城</string>
			<string>历下区</string>
			<string>市中区</string>
			<string>槐荫区</string>
			<string>天桥区</string>
			<string>历城区</string>
			<string>长清区</string>
			<string>平阴县</string>
			<string>济阳县</string>
			<string>商河县</string>
			<string>章丘市</string>
		</array>
	</dict>
	<key>K</key>
	<dict>
		<key>昆明</key>
		<array>
			<string>全城</string>
			<string>五华区</string>
			<string>盘龙区</string>
			<string>官渡区</string>
			<string>西山区</string>
			<string>东川区</string>
			<string>呈贡县</string>
			<string>晋宁县</string>
			<string>富民县</string>
			<string>宜良县</string>
			<string>石林彝族自治县</string>
			<string>崇明县</string>
			<string>禄劝彝族苗族自治县</string>
			<string>寻甸回族彝族自治县</string>
			<string>安宁市</string>
		</array>
	</dict>
	<key>L</key>
	<dict>
		<key>兰州</key>
		<array>
			<string>全城</string>
			<string>城关区</string>
			<string>七里河区</string>
			<string>西固区</string>
			<string>安宁区</string>
			<string>红古区</string>
			<string>永登县</string>
			<string>皋兰县</string>
			<string>榆中县</string>
		</array>
	</dict>
	<key>N</key>
	<dict>
		<key>南昌</key>
		<array>
			<string>全城</string>
			<string>东湖区 </string>
			<string>西湖区</string>
			<string>青云谱区</string>
			<string>湾里区</string>
			<string>青山湖区</string>
			<string>南昌县</string>
			<string>新建县</string>
			<string>安义县</string>
			<string>进贤县</string>
		</array>
		<key>南京</key>
		<array>
			<string>全城</string>
			<string>玄武区</string>
			<string>白下区</string>
			<string>秦淮区</string>
			<string>建邺区</string>
			<string>鼓楼区</string>
			<string>下关区</string>
			<string>浦口区</string>
			<string>栖霞区</string>
			<string>雨花台区</string>
			<string>静宁区</string>
			<string>六合区</string>
			<string>溧水县</string>
			<string>高淳县</string>
		</array>
		<key>南宁</key>
		<array>
			<string>全城</string>
			<string>兴宁区</string>
			<string>青秀区</string>
			<string>江南区</string>
			<string>西乡塘区</string>
			<string>良庆区</string>
			<string>邕宁区</string>
			<string>武鸣县</string>
			<string>隆安县</string>
			<string>马山县</string>
			<string>上林县</string>
			<string>宾阳县</string>
			<string>横县</string>
		</array>
		<key>宁波</key>
		<array>
			<string>全城</string>
			<string>海曙区</string>
			<string>江东区</string>
			<string>江北区</string>
			<string>北仑区</string>
			<string>镇海区</string>
			<string>鄞州区</string>
			<string>象山县</string>
			<string>宁海县</string>
			<string>余姚市</string>
			<string>慈溪市</string>
			<string>奉化市</string>
		</array>
	</dict>
	<key>Q</key>
	<dict>
		<key>青岛</key>
		<array>
			<string>全城</string>
			<string>市南区</string>
			<string>市北区</string>
			<string>四方区</string>
			<string>黄岛区</string>
			<string>崂山区</string>
			<string>李沧区</string>
			<string>城阳区</string>
			<string>胶州市</string>
			<string>即墨市</string>
			<string>平度市</string>
			<string>胶南市</string>
			<string>莱西市</string>
		</array>
		<key>泉州</key>
		<array>
			<string>全城</string>
			<string>鲤城区</string>
			<string>丰泽区</string>
			<string>洛江区</string>
			<string>泉港区</string>
			<string>惠安县</string>
			<string>安溪县</string>
			<string>永春县</string>
			<string>德化县</string>
			<string>金门县</string>
			<string>石狮市</string>
			<string>晋江市</string>
			<string>南安市</string>
		</array>
	</dict>
	<key>S</key>
	<dict>
		<key>三亚</key>
		<array>
			<string>全城</string>
			<string>崖州区</string>
			<string>海棠区</string>
			<string>吉阳区</string>
			<string>天涯区</string>
		</array>
		<key>上海</key>
		<array>
			<string>全城</string>
			<string>黄浦区</string>
			<string>卢湾区</string>
			<string>徐汇区</string>
			<string>长宁区</string>
			<string>静安区</string>
			<string>普陀区</string>
			<string>闸北区</string>
			<string>虹口区</string>
			<string>杨浦区</string>
			<string>闵行区</string>
			<string>宝山区</string>
			<string>嘉定区</string>
			<string>浦东新区</string>
			<string>金山区</string>
			<string>松江区</string>
			<string>青浦区</string>
			<string>南汇区</string>
			<string>奉贤区</string>
			<string>崇明县</string>
		</array>
		<key>沈阳</key>
		<array>
			<string>全城</string>
			<string>和平区</string>
			<string>沈河区</string>
			<string>大东区</string>
			<string>皇姑区</string>
			<string>铁西区</string>
			<string>苏家屯区</string>
			<string>东陵区</string>
			<string>沈北新区</string>
			<string>于洪区</string>
			<string>辽中县</string>
			<string>康平县</string>
			<string>法库县</string>
			<string>新民市</string>
		</array>
		<key>深圳</key>
		<array>
			<string>全城</string>
			<string>罗湖区</string>
			<string>福田区</string>
			<string>南山区</string>
			<string>宝安区</string>
			<string>龙岗区</string>
			<string>盐田区</string>
		</array>
		<key>石家庄</key>
		<array>
			<string>全城</string>
			<string>长安区</string>
			<string>桥东区</string>
			<string>桥西区</string>
			<string>新华区</string>
			<string>井陉矿区</string>
			<string>裕华区</string>
			<string>井陉县</string>
			<string>正定县</string>
			<string>栾城县</string>
			<string>行唐县</string>
			<string>灵寿县</string>
			<string>高邑县</string>
			<string>深泽县</string>
			<string>赞皇县</string>
			<string>无极限</string>
			<string>平山县</string>
			<string>元氏县</string>
			<string>赵县</string>
			<string>辛集市</string>
			<string>藁城市</string>
			<string>晋州市</string>
			<string>新乐市</string>
			<string>鹿泉市</string>
		</array>
		<key>苏州</key>
		<array>
			<string>全城</string>
			<string>沧浪区</string>
			<string>平江区</string>
			<string>金阊区</string>
			<string>虎丘区</string>
			<string>吴中区</string>
			<string>相城区</string>
			<string>常熟市</string>
			<string>张家港市</string>
			<string>昆山市</string>
			<string>吴江市</string>
			<string>太仓市</string>
		</array>
	</dict>
	<key>T</key>
	<dict>
		<key>太原</key>
		<array>
			<string>全城</string>
			<string>小店区</string>
			<string>迎泽区</string>
			<string>杏花岭区</string>
			<string>尖草坪区</string>
			<string>万柏林区</string>
			<string>晋源区</string>
			<string>清徐县</string>
			<string>阳曲县</string>
			<string>娄烦县</string>
			<string>古交市</string>
		</array>
		<key>天津</key>
		<array>
			<string>全城</string>
			<string>和平区</string>
			<string>河东区</string>
			<string>河西区</string>
			<string>南开区</string>
			<string>河北区</string>
			<string>红桥区</string>
			<string>塘沽区</string>
			<string>汉沽区</string>
			<string>大港区</string>
			<string>东丽区</string>
			<string>西青区</string>
			<string>津南区</string>
			<string>北辰区</string>
			<string>武清区</string>
			<string>宝坻区</string>
			<string>宁河县</string>
			<string>静海县</string>
			<string>蓟县</string>
		</array>
	</dict>
	<key>W</key>
	<dict>
		<key>温州</key>
		<array>
			<string>全城</string>
			<string>鹿城区</string>
			<string>龙湾区</string>
			<string>瓯海区</string>
			<string>洞头县</string>
			<string>永嘉县</string>
			<string>平阳县</string>
			<string>苍南县</string>
			<string>文成县</string>
			<string>泰顺县</string>
			<string>瑞安市</string>
			<string>乐清市</string>
		</array>
		<key>武汉</key>
		<array>
			<string>全城</string>
			<string>江岸区</string>
			<string>江汉区</string>
			<string>硚口区</string>
			<string>汉阳区</string>
			<string>武昌区</string>
			<string>青山区</string>
			<string>洪山区</string>
			<string>东西湖区</string>
			<string>汉南区</string>
			<string>蔡甸区</string>
			<string>江夏区</string>
			<string>黄陂区</string>
			<string>新洲区</string>
		</array>
		<key>无锡</key>
		<array>
			<string>全城</string>
			<string>崇安区</string>
			<string>南长区</string>
			<string>北塘区</string>
			<string>锡山区</string>
			<string>惠山区</string>
			<string>滨湖区</string>
			<string>江阴市</string>
			<string>宜兴市</string>
		</array>
		<key>乌鲁木齐</key>
		<array>
			<string>全城</string>
			<string>天山区</string>
			<string>沙依巴克区</string>
			<string>新市区</string>
			<string>水磨沟区</string>
			<string>头屯河区</string>
			<string>达坂城区</string>
			<string>米东区</string>
			<string>乌鲁木齐县</string>
		</array>
	</dict>
	<key>X</key>
	<dict>
		<key>厦门</key>
		<array>
			<string>全城</string>
			<string>思明区</string>
			<string>海沧区</string>
			<string>湖里区</string>
			<string>集美区</string>
			<string>同安区</string>
			<string>翔安区</string>
		</array>
		<key>西安</key>
		<array>
			<string>全城</string>
			<string>新城区</string>
			<string>碑林区</string>
			<string>莲湖区</string>
			<string>灞桥区</string>
			<string>未央区</string>
			<string>雁塔区</string>
			<string>阎良区</string>
			<string>临潼区</string>
			<string>长安区</string>
			<string>蓝田县</string>
			<string>周至县</string>
			<string>户县</string>
			<string>高陵县</string>
		</array>
	</dict>
	<key>Y</key>
	<dict>
		<key>银川</key>
		<array>
			<string>全城</string>
			<string>兴庆区</string>
			<string>西夏区</string>
			<string>金凤区</string>
			<string>永宁县</string>
			<string>贺兰县</string>
			<string>灵武市</string>
		</array>
	</dict>
	<key>Z</key>
	<dict>
		<key>郑州</key>
		<array>
			<string>全城</string>
			<string>中原区</string>
			<string>二七区</string>
			<string>管城回族区</string>
			<string>金水区</string>
			<string>上街区</string>
			<string>惠济区</string>
			<string>中牟县</string>
			<string>巩义市</string>
			<string>荥阳市</string>
			<string>新密市</string>
			<string>新郑市</string>
			<string>登封市</string>
		</array>
		<key>珠海</key>
		<array>
			<string>全城</string>
			<string>香洲区</string>
			<string>斗门区</string>
			<string>金湾区</string>
		</array>
	</dict>
</dict>
</plist>
