<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array/>
	<key>B</key>
	<array>
		<string>北京</string>
	</array>
	<key>C</key>
	<array>
		<string>长春</string>
		<string>长沙</string>
		<string>成都</string>
		<string>重庆</string>
	</array>
	<key>D</key>
	<array>
		<string>大连</string>
	</array>
	<key>E</key>
	<array/>
	<key>F</key>
	<array>
		<string>福州</string>
	</array>
	<key>G</key>
	<array>
		<string>广州</string>
		<string>贵阳</string>
	</array>
	<key>H</key>
	<array>
		<string>哈尔滨</string>
		<string>海口</string>
		<string>杭州</string>
		<string>合肥</string>
		<string>呼和浩特</string>
	</array>
	<key>J</key>
	<array>
		<string>济南</string>
	</array>
	<key>K</key>
	<array>
		<string>昆明</string>
	</array>
	<key>L</key>
	<array>
		<string>兰州</string>
	</array>
	<key>M</key>
	<array/>
	<key>N</key>
	<array>
		<string>南昌</string>
		<string>南京</string>
		<string>南宁</string>
		<string>宁波</string>
	</array>
	<key>P</key>
	<array/>
	<key>Q</key>
	<array>
		<string>青岛</string>
		<string>泉州</string>
	</array>
	<key>R</key>
	<array/>
	<key>S</key>
	<array>
		<string>三亚</string>
		<string>上海</string>
		<string>沈阳</string>
		<string>深圳</string>
		<string>石家庄</string>
		<string>苏州</string>
	</array>
	<key>T</key>
	<array>
		<string>太原</string>
		<string>天津</string>
	</array>
	<key>W</key>
	<array>
		<string>温州</string>
		<string>武汉</string>
		<string>无锡</string>
		<string>乌鲁木齐</string>
	</array>
	<key>X</key>
	<array>
		<string>厦门</string>
		<string>西安</string>
	</array>
	<key>Y</key>
	<array>
		<string>银川</string>
	</array>
	<key>Z</key>
	<array>
		<string>郑州</string>
		<string>珠海</string>
	</array>
</dict>
</plist>
