<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   BletcShop

   Created by Bletc on 16/8/30.
   Copyright (c) 2016年 bletc. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
