<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>商消乐</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>Item 0</key>
		<string>Icon-58.png</string>
		<key>Item 1</key>
		<string>Icon-87.png</string>
		<key>Item 2</key>
		<string>Icon-80.png</string>
		<key>Item 3</key>
		<string>Icon-120.png</string>
		<key>Item 4</key>
		<string>Icon-180.png</string>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>bletc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>blectShop</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx9ff00c1974e22928</string>
			</array>
			<key>URL Scheme</key>
			<array>
				<string>baidumap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1105439953</string>
			</array>
			<key>URL Scheme</key>
			<array>
				<string>baidumap</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41e3acd1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sina</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3250560160</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.6</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>baidumap</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqq</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>mqzone</string>
		<string>weixin</string>
		<string>mqqapi</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string></string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>是否允许此App使用您的相机？</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>是否允许此App访问您的地理位置?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>是否允许此App使用您的麦克风？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许此App访问您的相册？</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
